name: Terraform Destroy

on:
  workflow_dispatch:  # Allows manual triggering from GitHub UI

permissions:
  id-token: write
  contents: read 

env:
  AWS_REGION: us-east-1

jobs:
  terraform-destroy:
    name: Terraform Destroy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0  # Replace with your Terraform version

      # Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::331005568591:role/test_role
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        working-directory: terraform
        run: terraform init -backend-config=../config_env/dev/backend.tfvars

      - name: Terraform Destroy
        working-directory: terraform
        run: terraform destroy -auto-approve -input=false

        